

<% flash.each do |key, msg| %>
  <%= content_tag :div, msg, :id => key %>
<% end %>

<p>Game: <%= @ttt.name %></p>
<p>Player1: <%= @ttt.p1_name %> uses "x"</p>
<p>Player2: <%= @ttt.p2_name %> uses "o"</p>

<%if @ttt.completed == 'y'%>
  <p>Game "<%= @ttt.name %>" has finished</p>
  <% if @ttt.winner_name == 'Draw' %>
    <p>The game was a draw!</p>
  <% elsif @ttt.winner_name == "PC" %>
    <p>Computer are smarter than humans!</p>
  <% else %>
    <p>"<%= @ttt.winner_name %>" is the winner</p>
  <% end %>
<% else %>
  <% if @ttt.turn_for_player_id.to_i > 0 %>
    <p>Turn for <%= User.get_user(@ttt.turn_for_player_id.to_i).email %></p>
  <% else %>
    <p>Turn for Computer</p>
  <% end %>
<% end %>

<div class='grid_12 ttt_grid'>
  
    <div class='grid_2 prefix_3 column_one'>
      <%= form_for(@ttt, method: 'put') do |f| %>
        <%= render partial: "ttt_button", locals: { f: f, position: 'a1' } %>
      <% end %>
    </div>

    <div class='grid_2 column_two'>
      <%= form_for(@ttt, method: 'put') do |f| %>
        <%= render partial: "ttt_button", locals: { f: f, position: 'a2' } %>
      <% end %>
    </div>

    <div class='grid_2 suffix_3 column_three'>
      <%= form_for(@ttt, method: 'put') do |f| %>
        <%= render partial: "ttt_button", locals: { f: f, position: 'a3' } %>
      <% end %>
    </div>
  <div class='clear'></div>

  
    <div class='grid_2 prefix_3 column_one'>
      <%= form_for(@ttt, method: 'put') do |f| %>
        <%= render partial: "ttt_button", locals: { f: f, position: 'b1' } %>
      <% end %>
    </div>

    <div class='grid_2 column_two'>
      <%= form_for(@ttt, method: 'put') do |f| %>
        <%= render partial: "ttt_button", locals: { f: f, position: 'b2' } %>
      <% end %>
    </div>

    <div class='grid_2 suffix_3 column_three'>
      <%= form_for(@ttt, method: 'put') do |f| %>
        <%= render partial: "ttt_button", locals: { f: f, position: 'b3' } %>
      <% end %>
    </div>
  <div class='clear'></div>

    <div class='grid_2 prefix_3 column_one'>
      <%= form_for(@ttt, method: 'put') do |f| %>
        <%= render partial: "ttt_button", locals: { f: f, position: 'c1' } %>
      <% end %>
    </div>

    <div class='grid_2 column_two'>
      <%= form_for(@ttt, method: 'put') do |f| %>
        <%= render partial: "ttt_button", locals: { f: f, position: 'c2' } %>
      <% end %>
    </div>

    <div class='grid_2 suffix_3 column_three'>
      <%= form_for(@ttt, method: 'put') do |f| %>
        <%= render partial: "ttt_button", locals: { f: f, position: 'c3' } %>
      <% end %>
    </div>
  <div class='clear'></div>


</div>

<% if @ttt.turn_for_player_id == "-1" %>
    <%= form_for(@ttt, method: 'put') do |f| %>
      
        <%= hidden_field_tag :pc_move, 'y'  %>
        <div class='container_12' ><button class='grid_2 push_5'>Click for PC Move</button></div>

    <% end %>
<% end %>











