<h1>Ttts#show</h1>
<p>Find me in app/views/ttts/show.html.erb</p>

<% flash.each do |key, msg| %>
  <%= content_tag :div, msg, :id => key %>
<% end %>

<div class='container_12 ttt_container'>
  <div class='grid_4 a1'>
    <%= form_for(@ttt, method: 'put') do |f| %>
      <%= render partial: "ttt_button", locals: { f: f, position: 'a1' } %>
    <% end %>
  </div>

  <div class='grid_4 a2'>
    <%= form_for(@ttt, method: 'put') do |f| %>
      <%= render partial: "ttt_button", locals: { f: f, position: 'a2' } %>
    <% end %>
  </div>

  <div class='grid_4 a3'>
    <%= form_for(@ttt, method: 'put') do |f| %>
      <%= render partial: "ttt_button", locals: { f: f, position: 'a3' } %>
    <% end %>
  </div>

  <div class='grid_4 b1'>
    <%= form_for(@ttt, method: 'put') do |f| %>
      <%= render partial: "ttt_button", locals: { f: f, position: 'b1' } %>
    <% end %>
  </div>

  <div class='grid_4 b2'>
    <%= form_for(@ttt, method: 'put') do |f| %>
      <%= render partial: "ttt_button", locals: { f: f, position: 'b2' } %>
    <% end %>
  </div>

  <div class='grid_4 b3'>
    <%= form_for(@ttt, method: 'put') do |f| %>
      <%= render partial: "ttt_button", locals: { f: f, position: 'b3' } %>
    <% end %>
  </div>

  <div class='grid_4 c1'>
    <%= form_for(@ttt, method: 'put') do |f| %>
      <%= render partial: "ttt_button", locals: { f: f, position: 'c1' } %>
    <% end %>
  </div>

  <div class='grid_4 c2'>
    <%= form_for(@ttt, method: 'put') do |f| %>
      <%= render partial: "ttt_button", locals: { f: f, position: 'c2' } %>
    <% end %>
  </div>

  <div class='grid_4 c3'>
    <%= form_for(@ttt, method: 'put') do |f| %>
      <%= render partial: "ttt_button", locals: { f: f, position: 'c3' } %>
    <% end %>
  </div>


</div>
