<h1>Listing users</h1>
<div class='grid_12 show_users'>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Last name</th>
    <th>Role</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Draws</th>
    <th>Username</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.last_name %></td>
    <td><%= user.role %></td>
    <td><%= user.wins %></td>
    <td><%= user.losses %></td>
    <td><%= user.draws %></td>
    <td><%= user.username %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'New User', new_user_path %>
